In [1]:
import os
os.environ['SPARK_HOME'] = "C:/spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [12]:
spark = SparkSession.builder \
                    .appName('add-col') \
                    .getOrCreate()

In [7]:
data = [('James','Smith','M',3000),
  ('Anna','Rose','F',4100),
  ('Robert','Williams','M',6200), 
]

In [14]:
columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data,schema=columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|  3000|
|     Anna|    Rose|     F|  4100|
|   Robert|Williams|     M|  6200|
+---------+--------+------+------+

In [15]:
df.withColumn("bonus",lit(3.0)).show()

+---------+--------+------+------+-----+
|firstname|lastname|gender|salary|bonus|
+---------+--------+------+------+-----+
|    James|   Smith|     M|  3000|  3.0|
|     Anna|    Rose|     F|  4100|  3.0|
|   Robert|Williams|     M|  6200|  3.0|
+---------+--------+------+------+-----+

In [21]:
df.withColumn("name",concat_ws(" ","firstname","lastname")).show()

+---------+--------+------+------+---------------+
|firstname|lastname|gender|salary|           name|
+---------+--------+------+------+---------------+
|    James|   Smith|     M|  3000|    James Smith|
|     Anna|    Rose|     F|  4100|      Anna Rose|
|   Robert|Williams|     M|  6200|Robert Williams|
+---------+--------+------+------+---------------+