In [1]:
import os
os.environ['SPARK_HOME'] = "C:/spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Hero-app").getOrCreate()

In [3]:
dfInp = [("Meganath",11),("Gagan",18),("Spiderman",25),("Meganath",12)]
df=spark.createDataFrame(dfInp,["Name","Age"])
df.show()

+---------+---+
|     Name|Age|
+---------+---+
| Meganath| 11|
|    Gagan| 18|
|Spiderman| 25|
| Meganath| 12|
+---------+---+