In [1]:
import os
os.environ['SPARK_HOME'] = "C:/spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.window import *
from pyspark.sql.functions import *

In [2]:

spark = SparkSession.builder.appName("JoinExamples").getOrCreate()

data1 = [("Alice", 1), ("Bob", 2), ("Catherine", 3)]
data2 = [("Alice", 1), ("David", 4), ("Eve", 5)]

columns = ["Name", "ID"]

df1 = spark.createDataFrame(data1, columns)
df2 = spark.createDataFrame(data2, columns)

print("DataFrame 1:")
df1.show()

print("DataFrame 2:")
df2.show()

DataFrame 1:
+---------+---+
|     Name| ID|
+---------+---+
|    Alice|  1|
|      Bob|  2|
|Catherine|  3|
+---------+---+

DataFrame 2:
+-----+---+
| Name| ID|
+-----+---+
|Alice|  1|
|David|  4|
|  Eve|  5|
+-----+---+

In [4]:
inner_join_df = df1.join(df2, on="ID", how="inner")
print("Inner Join Result:")
inner_join_df.show()

Inner Join Result:
+---+-----+-----+
| ID| Name| Name|
+---+-----+-----+
|  1|Alice|Alice|
+---+-----+-----+

In [5]:
left_join_df = df1.join(df2, on="ID", how="left")
print("Left Join Result:")
left_join_df.show()

Left Join Result:
+---+---------+-----+
| ID|     Name| Name|
+---+---------+-----+
|  1|    Alice|Alice|
|  2|      Bob| NULL|
|  3|Catherine| NULL|
+---+---------+-----+

In [6]:
right_join_df = df1.join(df2, on="ID", how="right")
print("Right Join Result:")
right_join_df.show()

Right Join Result:
+---+-----+-----+
| ID| Name| Name|
+---+-----+-----+
|  1|Alice|Alice|
|  4| NULL|David|
|  5| NULL|  Eve|
+---+-----+-----+

In [7]:
full_join_df = df1.join(df2, on="ID", how="full")
print("Full Join Result:")
full_join_df.show()

Full Join Result:
+---+---------+-----+
| ID|     Name| Name|
+---+---------+-----+
|  1|    Alice|Alice|
|  2|      Bob| NULL|
|  3|Catherine| NULL|
|  4|     NULL|David|
|  5|     NULL|  Eve|
+---+---------+-----+