In [1]:
import os
os.environ['SPARK_HOME'] = "C:/spark"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.window import *
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("spark-app").getOrCreate()

In [6]:
rdd= spark.sparkContext.parallelize([("mega",21),("hero",31)])
rdd.collect()

[('mega', 21), ('hero', 31)]

In [8]:
df = rdd.toDF(["name","age"])
df.show()

+----+---+
|name|age|
+----+---+
|mega| 21|
|hero| 31|
+----+---+

In [9]:
pand= df.toPandas()
pand

   name  age
0  mega   21
1  hero   31